<div class="jumbotron container" style="padding:45px 0px;margin-top: 10px;">
    <h4 class="text-center">To Do List App</h4>
  </div>
  
  <div class="input-group" >
    <input type="text" class="form-control" [(ngModel)]="task" style="margin:1vh 0 1vh 10vw">
    <div class="input-group-addon hover-cursor" (click)="onAdd()" style="margin:1vh 10vw 1vh 0">
      <i class="fa fa-plus-circle fa-2x"></i>
    </div>
  </div>
  
  <div style="margin:1vh 10vw">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of toDoListArray">
        <span class="hover-cursor" [class.text-success]="item.isChecked" (click)="alterCheck(item)">
          <i class="fa fa-lg" [ngClass]="item.isChecked?'fa-check-circle-o':'fa-circle-thin'"></i>
        </span>
        {{item.task}}
        <span class="hover-cursor text-danger pull-right" (click)="onDelete(item._id)">
          <i class="fa fa-trash-o fa-lg"></i>
        </span>
      </li>
    </ul>
  </div>